<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vibration Dashboard</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
	

	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="antixss.js" type="text/javascript"></script>
    
	
	<script src="./angular.js" type="text/javascript"></script>
	<script src="./main.js" type="text/javascript"></script>
</head>

<body ng-app="vibrationDashboard" ng-controller="mainCtrl">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header " style="margin-left:350px">
      
	  <h3 >{{Title}}</h3>
    </div>
  </div>
</nav>
<div class="container-fluid" style="margin-top:80px" ng-show="JsonpacketData" ng-cloak>
<!-- guageMeter -->

 	<div class="row custStyle" ng-show="!packetDetail">
	<div class="col-md-4 panel panel-primary guageHeight">
	<div class="panel-heading">Vibration Sensitive</div>
				<div id="gaugeDemo" class="gauge gauge-big panel-body" ng-class="vibGuage[0]">
				<div class="gauge-arrow" style={{vibGuage[1]}}></div>
				</div>
	
	</div>
	<div class="col-md-4 panel panel-primary guageHeight" >
	<div class="panel-heading">Heat Sensitive</div>
				<div id="gaugeDemo" class="gauge gauge-big gauge-grey panel-body" ng-class="heatGuage[0]">
				<div class="gauge-arrow" style={{heatGuage[1]}}></div>
				</div>
	
	</div>
	<div class="col-md-4 panel panel-primary guageHeight" >
	<div class="panel-heading">Light Sensitive</div>
				<div id="gaugeDemo" class="gauge gauge-big gauge-grey panel-body" ng-class="lightGuage[0]">
				<div class="gauge-arrow" style={{lightGuage[1]}}></div>
				</div>
	
	</div>
	</div>
	<!-- guageMeter -->
	<div ng-show="!packetDetail">
	<div class="positionFix">
	<div class="alert alert-info " ng-hide="message || packetDetail" style="text-align:center;opacity:0.4">
		<strong style="color:white">info! will inform if something goes wrong</strong>
	</div>
	<div class="alert alert-danger " ng-show="message  && !packetDetail" style="text-align:center;background-color:red">
		<strong style="color:white">{{message}}!!!</strong>
	</div>
	</div><hr><hr><hr>
	</div>
<div class="row table-responsive custStyle" ng-show="!packetDetail" >
	
	<table class="table table-bordered  table-responsive"  >
  <thead class="blue-grey lighten-4" style="background-color:deepskyblue">
    <tr>
      <th>#Name</th>
      <th>PACKETTYPE_DESC</th>
      <th>Type</th>
      <th>AMBIENTTEMP</th>
      <th>OBJECTTEMP</th>
      <th>HUMIDITY</th>
      <th>ACCELX</th>
      <th>ACCELY</th>
      <th>ACCELZ</th>
      <th>GYROX</th>
      <th>GYROY</th>
      <th>GYROZ</th>
      <th>MAGX</th>
      <th>MAGY</th>
      <th>MAGZ</th>
      <th>LIGHT</th>
      <th>TIMESENT</th>
      <th>TIMEAUTO</th>
      <th>LATTITUDE</th>
      <th>LONGITUDE<th>
    </tr>
  </thead>
  <tbody >
    <tr ng-repeat="(x,y) in packetNameObj"  ng-class="{'turnRed':turnRed(x)==true}" ng-mouseover="ShowMsg(x,y)" ng-mouseleave="changeColordrop()" style="cursor:pointer">
      <td ng-click="PacketLoad(x)"><a href="#">{{x}}</a></td>
      <td >{{y[0].PACKETTYPE_DESC}}</td>
      <td>{{y[0].PACKETTYPE}}</td>
      <td>{{y[0].AMBIENTTEMP}}</td>
      <td>{{y[0].OBJECTTEMP}}</td>
      <td>{{y[0].HUMIDITY}}</td>
      <td>{{y[0].ACCELX}}</td>
      <td>{{y[0].ACCELY}}</td>
      <td>{{y[0].ACCELZ}}</td>
      <td>{{y[0].GYROX}}</td>
      <td>{{y[0].GYROY}}</td>
      <td>{{y[0].GYROZ}}</td>
      <td>{{y[0].MAGX}}</td>
      <td>{{y[0].MAGY}}</td>
      <td>{{y[0].MAGZ}}</td>
      <td>{{y[0].LIGHT}}</td>
      <td>{{y[0].TIMESENT}}</td>
      <td>{{y[0].TIMEAUTO}}</td>
      <td>{{y[0].LATTITUDE}}</td>
      <td>{{y[0].LONGITUDE}}<td>
    </tr>    
  </tbody>
</table>
</div>
	
</div>
   
   <div class="container-fluid row table-responsive panel panel-primary" ng-show="packetDetail">
   <div class="panel-heading row"><h3 class="col-md-11 centerText">{{packetDetail[0].MYNAME}}</h3>
	<button type="button" class="btn btn-default col-md-1" ng-click="packetDetail = !packetDetail">Back</button>
	</div>
	<table class="table table-bordered  table-responsive panel-body" style="width:auto;margin:5px";>
  <thead class="blue-grey lighten-4" style="background-color:deepskyblue">
    <tr>
      <th>#Name</th>
      <th>PACKETTYPE_DESC</th>
      <th>Type</th>
      <th>AMBIENTTEMP</th>
      <th>OBJECTTEMP</th>
      <th>HUMIDITY</th>
      <th>ACCELX</th>
      <th>ACCELY</th>
      <th>ACCELZ</th>
      <th>GYROX</th>
      <th>GYROY</th>
      <th>GYROZ</th>
      <th>MAGX</th>
      <th>MAGY</th>
      <th>MAGZ</th>
      <th>LIGHT</th>
      <th>TIMESENT</th>
      <th>TIMEAUTO</th>
      <th>LATTITUDE</th>
      <th>LONGITUDE<th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in packetDetail track by $index"  ng-class="{'Flag':item.exceeded}" >
      <td>{{item.MYNAME}}{{$$index}}</td>
      <td>{{item.PACKETTYPE_DESC}}</td>
      <td>{{item.PACKETTYPE}}</td>
      <td>{{item.AMBIENTTEMP}}</td>
      <td>{{item.OBJECTTEMP}}</td>
      <td>{{item.HUMIDITY}}</td>
      <td>{{item.ACCELX}}</td>
      <td>{{item.ACCELY}}</td>
      <td>{{item.ACCELZ}}</td>
      <td>{{item.GYROX}}</td>
      <td>{{item.GYROY}}</td>
      <td>{{item.GYROZ}}</td>
      <td>{{item.MAGX}}</td>
      <td>{{item.MAGY}}</td>
      <td>{{item.MAGZ}}</td>
      <td>{{item.LIGHT}}</td>
      <td>{{item.TIMESENT}}</td>
      <td>{{item.TIMEAUTO}}</td>
      <td>{{item.LATTITUDE}}</td>
      <td>{{item.LONGITUDE}}<td> 
 </tr>    
  </tbody>
</table>
</div>

	
</body>

</html>
